/* elements.css - defines custom html elements */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {    
    --body-color: #fbfbfb;
    --header-background-color: #fffd; /* must be somewhat transparent */
    --body-scroll-track-color: #f2f2f2; /* unused var */
    --body-scroll-thumb-color: #bbb;
    --body-scroll-thumb-color-2: #aaa;

    --panel-font-color: #444;
    --panel-color: #fff;
    --panel-default-border: 1px solid #aaa4;
   
    --btn-hov-color: #aaa1;
    --btn-foc-color: #008cff66;
    --btn-foc-color-bg: #008cff18;

    --primary-color: #267ea7;
    --text-on-primary: #fff;
}


body {
    padding: 0; margin: 0;

    background-color: var(--body-color, #fbfbfb);
    color: var(--panel-font-color, #444);



    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        /* background: var(--body-scroll-track-color, #f2f2f2);
        border-left: var(--panel-default-border, 1px solid #aaa4); */
        background-color: var(--body-color, #fff);
    }
    &::-webkit-scrollbar-thumb {
        border: 3px solid transparent;
        background-clip: padding-box;
        border-radius: 100px;
        background-color: var(--body-scroll-thumb-color, #bbb);
    }
    &::-webkit-scrollbar-thumb:hover {
        border: 3px solid transparent;
        background-color: var(--body-scroll-thumb-color-2, #aaa);
    }

}

::selection {
    background-color: var(--primary-color, #3453ff);
    color: var(--text-on-primary, #fff);
}
::-moz-selection {
    background-color: var(--primary-color, #3453ff);
    color: var(--text-on-primary, #fff);
}
* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

app-container {
    /* positions the viewport */
    z-index: 1;
    display: flex;
    flex-direction: column;
}

app-header {
    /* defines a traditional bar header at the top of the page */
    /* REQUIRES: 'app-container' to have 'display:flex' and 'flex-direction:column' */
    width: 100%;
    height: 75px;
    background-color: var(--panel-color, #fff);
    border-bottom: var(--panel-default-border, 1px solid #aaa4);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 5;
    position: fixed;
    backdrop-filter: blur(15px);
    background-color: var(--header-background-color, #fffd);
    transition: height 200ms ease, padding 200ms ease;
    

    .left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1em;
        transition: padding 200ms ease;
    }
    header-nav {
        /* REQUIRES: <button> tag must be used to wrap all child elements to enable browser functionality */
        position: relative;
        width: 40px;
        height: 40px;
    
        button.icon {
            border: 2.2px solid transparent; outline: none;
            padding: 0; margin: 0;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px; height: 40px;
            border-radius: 10px;
            color: var(--panel-font-color, #444);
            cursor: pointer;
            transition: background 150ms ease, border 140ms ease;
            
            &:hover {
                border-color: var(--btn-hov-color, #aaa1);
            }
            &:focus {
                background-color: var(--btn-foc-color-bg, #008cff18);
                border-color: var(--btn-foc-color, #008cff66);
            }
            & svg, & img {
                /* works with both svg and png icons */
                width: 24px; height: 24px;
            }
        }

        nav-container {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            z-index: 10;
            padding: 1em;
            width: 280px;
            background-color: var(--panel-color, #fff);
            border: var(--panel-default-border);
            border-radius: 10px;
            box-shadow: 0 0 15px #4441;

            transform-origin: top left;
            transform: translateX(-120%) scale(0.5);
            opacity: 0;
            transition: opacity 400ms ease, transform 300ms ease;

            button.nav-link {
                border: 2.2px solid transparent; outline: none;
                padding: 0; margin: 0;
                background: none;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%; height: 40px;
                border-radius: 10px;
                color: var(--panel-font-color, #444);
                cursor: pointer;
                padding: 0 0.75em;
                margin-bottom: 1.5px;
                font-size: 17px;
                font-weight: 500;
                transition: background 150ms ease, border 140ms ease;

                &:hover {
                    border-color: var(--btn-hov-color, #aaa1);
                }
                &:focus {
                    background-color: var(--btn-foc-color-bg, #008cff18);
                    border-color: var(--btn-foc-color, #008cff66);
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

    }


    .right {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .team-name {
        width: 180px;
        height: 100%;
        background-color: var(--primary-color, #616161);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1em;
        font-weight: 700;
        font-size: 22px;
        color: var(--text-on-primary, #fff);
        cursor: normal;
        user-select: none;
        transition: padding 200ms ease, width 250ms ease, font-size 200ms ease;

        .contacts {
            display: flex;
            margin-right: 1em;
            transition: margin 200ms ease;

            .icon {
                width: 34px; height: 34px;
                background-color: #eee;
                border: 1px solid #aaa4;
                border-radius: 100px;
                position: relative;
                margin-right: -10px;
                cursor: pointer;
                transition: margin-right 200ms ease, width 200ms ease, height 200ms ease, opacity 100ms ease;

                &:last-child {margin-right: 0;}

                &:hover, img:hover {
                    .tooltip {
                        transform: translateX(-50%) scale(1);
                        opacity: 1;
                    }
                }

                img {
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%;
                    border-radius: 100px;
                }

                .tooltip {
                    position: absolute;
                    top: calc(100% + 12px);
                    left: 50%;
                    transform: translateX(-50%);
                    width: auto;
                    white-space: nowrap;
                    padding: 4px 7px;
                    background-color: var(--panel-color, #fff);
                    color: var(--panel-font-color, #444);
                    border: var(--panel-default-border, 1px solid #aaa4);
                    border-radius: 6px;
                    font-family: 'Rubik', 'Ubuntu', sans-serif;
                    font-weight: 500;
                    font-size: 11px;

                    transform: translateX(-50%) scale(0);
                    opacity: 0;
                    transition: opacity 200ms ease, transform 200ms ease;
                    z-index: 5;

                    cursor: normal;
                    user-select: none;

                    .arrow {
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        height: 7px;
                        overflow: hidden;
                        transform: translateX(-50%);
                        display: block;
                        padding: 2px;
                        z-index: 99;

                        &::after {
                            content: '';
                            display: block;
                            width: 8px; height: 8px;
                            background-color: var(--panel-color, #fff);
                            border: var(--panel-default-border, 1px solid #aaa4);
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &:hover {
                .icon {
                    margin-right: -4px;
                    &:last-child {margin-right: 0;}
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0; bottom: 0;
            right: calc(100% - 50px);
            transform: skewX(40deg);
            width: 100px;
            height: 100%;
            background-color: var(--primary-color, #616161);
            z-index: -1;
        }
    }




}



.primary-color {
    color: var(--primary-color, #008cff)
}



app-page-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    display: flex;
    justify-content: center;

    transition: top 120ms ease;

    page-root {
        width: 1300px;
        padding: 0 1.5em;


        .hero {
            height: calc(100vh - 75px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            h1 {
                padding: 0; margin: 0;
                margin-left: 85px;
                font-size: 85px;
                font-weight: 700;
            }

            .noninteractive-prompt {
                display: inline-block;
                padding: 0.5em 6px;
                border-bottom: 3px solid transparent;
                margin-top: 75px;
                margin-left: 85px;
                margin-bottom: 30px;
                text-transform: uppercase;
                font-weight: 500;
                cursor: pointer;
                user-select: none;
                transition: border 150ms ease;

                &:hover {
                    border-bottom-color: var(--primary-color, #008cff);
                }
            }

            .side-img {
                margin-right: 85px;

                img {
                    width: 450px;
                }
            }
        }
        
        
        
        
        .hero-2 {
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: var(--panel-default-border, 1px solid #aaa4);
            margin-bottom: 80px;
            
            h1 {
                padding: 0; margin: 0;
                margin-left: 50px;
                font-size: 50px;
                font-weight: 700;
            }

            .side-img {
                margin-right: 50px;

                img {
                    width: 120px;
                }
            }
        }


        a {
            color: var(--primary-color, #616161);
            text-decoration: inherit;
            font-weight: 500;
            font-size: inherit;
            
            &:hover {
                text-decoration: underline;
                background-color: var(--panel-color, #fff);
            }
        }



    }
}